h3{
    margin-top: 0;
    font-weight: bold;
    text-shadow: 5px 4px 3px #2a546e;
    font-size: 20px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
}
input, button{
    border-radius: 25px;
    border: none;
    padding: 10px;
    box-shadow: 5px 4px 3px #2a546e;
    margin-right: 10px;
    border: #4084ad 2px solid;
}
button{
    background-color: #3fb0f7;
    box-shadow: 5px 4px 3px #2a546e;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background-color: #399fdf;
    box-shadow: 5px 4px 3px #274d64;
    color: rgb(211, 211, 211);
}
button:active{
    
}
input:focus{
    outline: none;
    border: #2a546e 2px solid;
    background-color: #d8f0ff;
}