/* You can add global styles to this file, and also import other style files */
body, html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", "Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
    background-color: #5FA8D3;
}